{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/movies/movie-index.css' %}">
<title>All Movies | Movie Collector</title>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>All Movies</h1>
</div>

<div class="movies-container">
  {% for movie in movies %}
    <div class="movie-item">
        <a href="{% url 'movie-detail' movie.id %}">
          <h2>{{ movie.name }}</h2>
        </a>
      <div class="movie-img">
          <img src="{{ movie.poster_image.url }}" alt="{{ movie.name }} poster" />
      </div>
      <div class="movie-details">
        <p><strong>Year:</strong> {{ movie.year }}</p>
        <p><strong>Director:</strong> {{ movie.director }}</p>
        <p><strong>Genre:</strong> {{ movie.genre }}</p>
      </div>
      <div class="movie-description">
        <p>{{ movie.description }}</p>
      </div>
    </div>
  {% empty %}
    <div class="empty-state">
      <p>No movies in your collection yet!</p>
      <p>Add some movies to get started.</p>
    </div>
  {% endfor %}
</div>
{% endblock %}